.about {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#about-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#about-title {
    font-size: var(--size-2xl);
    color: var(--white);
}
.about-desc {
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--slate-600);
}
#about-hr {
    border-color: var(--slate-600);
}
#about-subtitle {
    font-size: var(--size-sm);
    color: var(--slate-400);
}
#about-ul-container {
    display: flex;
}
#about-ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-left: 1em;
    flex: 1;
}
.about-list {
    font-size: var(--size-sm);
    color: var(--slate-600);
    font-weight: bold;
}
.about-list::before {
    content: "";
    margin-left: 0.5em;
}
#langs {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.lang-img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
    background-color: var(--lang-bx);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--lang-border);
}

/* xs = (extra small) */
@media (min-width: 475px) {
    .about {
        gap: 1.5rem;
    }
    #about-content {
        gap: 1.5rem;
    }
    #about-title {
        font-size: var(--size-3xl);
    }
    .about-desc {
        font-size: var(--size-base);
    }
    #about-subtitle {
        font-size: var(--size-base);
    }
    .about-list {
        font-size: var(--size-base);
    }
}

/* sm = (small) */
@media (min-width: 640px) {
    #about-img-wrapper {
        margin: 0 auto;
    }
    #about-img {
        width: 28.6875rem;
    }
}

/* lg = (large)  */
@media (min-width: 1024px) {
    .about {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #about-title {
        font-size: var(--size-4xl);
    }
    .about-desc {
        font-size: var(--size-lg);
    }
    #about-subtitle {
        font-size: var(--size-lg);
    }
    .about-list {
        font-size: var(--size-lg);
    }
}

/* xl = (extra large) */
@media (min-width: 1280px) {
    #about-content {
        gap: 2rem;
    }
    #about-title {
        font-size: var(--size-5xl);
    }
    .about-desc {
        font-size: var(--size-xl);
    }
    #about-subtitle {
        font-size: var(--size-xl);
    }
    .about-list {
        font-size: var(--size-xl);
    }
    #about-img {
        width: 30.75rem;
    }
}
