.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
#contact-title {
    font-size: var(--size-2xl);
}
#contact-desc {
    font-size: var(--size-sm);
    color: var(--secondary-txt);
    max-width: 60ch;
}
.contact-btn {
    font-size: var(--size-sm);
}
.contact-img {
    width: 2rem;
}
.contact-links {
    word-spacing: 2rem;
    margin-top: 2.5rem;
    display: flex;
    gap: 2rem;
    margin-bottom: 1.5rem;
}
.sub-container {
    display: flex;
    flex-direction: column;
}
.contact-links a {
    color: var(--secondary-txt);
    text-decoration: none;
    transition: color .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.contact-links a:hover {
    color: var(--txt);
}

/* xs = (extra small) */
@media (min-width: 475px) {
    .contact {
        gap: 1.5rem;
    }
    #contact-title {
        font-size: var(--size-3xl);
    }
    #contact-desc {
        font-size: var(--size-base);
    }
    .contact-btn {
        font-size: var(--size-base);
    }
}

/* lg = (large)  */
@media (min-width: 1024px) {
    #contact-title {
        font-size: var(--size-4xl);
    }
    #contact-desc {
        font-size: var(--size-lg);
    }
    .contact-btn {
        font-size: var(--size-lg);
    }
}

/* xl = (extra large) */
@media (min-width: 1280px) {
    .contact {
        gap: 2rem;
    }
    #contact-title {
        font-size: var(--size-5xl);
    }
    #contact-desc {
        font-size: var(--size-xl);
    }
    .contact-btn {
        font-size: var(--size-xl);
    }
}