.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3.4rem;
}
#footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
#footer-title {
    color: var(--slate-600);
    font-size: var(--size-sm);
    font-weight: 550;
}
.footer-link img {
    display: block;
    width: 1.5rem;
    border: 2px solid var(--slate-800);
    padding: 2.5px;
    border-radius: 7px;
    transition: border-color .25s;
    cursor: pointer;
}
.footer-link img:hover {
    border: 2px solid var(--main);
}
.footer-link img:active {
    border: 2px solid var(--dark-main);
}

/* xs = (extra small) */
@media (min-width: 475px) {
    .footer {
        gap: 5rem;
    }
}

/* sm = (small) */
@media (min-width: 640px) {
    .footer {
        gap: 10rem;
    }
}

/* lg = (large) */
@media (min-width: 1024px) {
    #footer-title {
        font-size: var(--size-base);
    }
    #footer-container {
        gap: 1rem;
    }
    .footer-link img {
        width: 2rem;
    }
}
