.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 9999;
}
.header-menu {
    display: none;
    margin-left: 3.4rem;
}
#header-bars {
    width: var(--size-3xl);
    height: var(--size-3xl);
    position: relative;
    left: 3.4rem;
}

/* md = (medium) */
@media (min-width: 768px) {
    .header-menu {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        gap: 2em;
    }
    .header-link {
        font-size: var(--size-xs);
        text-decoration: none;
        font-weight: 650;
        color: var(--slate-600);
        transition: color .2s;
        letter-spacing: -0.05rem;
    }
    .header-link:hover {
        color: var(--main);
        transition: color 0.25s;
    }
    .header-link:active {
        color: var(--dark-main);
    }
    .resume-btn {
        font-size: var(--size-sm);
    }
    #header-line {
        border: 1px solid var(--main);
        padding-top: 1.5em;
    }
    #header-bars {
        display: none;
    }
    #sun {
        width: var(--size-2xl);
        height: var(--size-2xl);
        display: block;
        margin-top: .25rem;
    }
}

/* lg = (large)  */
@media (min-width: 1024px) {
    .header-link {
        font-size: var(--size-sm);
    }
}

/* xl = (extra large) */
@media (min-width: 1280px) {
    .header-menu {
        margin-left: 7rem;
    }
}
