.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 9999;
}
.header-menu {
    display: none;
    margin-left: 1vh;
}
#header-bars {
    color: var(--secondary-txt);
    font-size: 1.5em;
    position: absolute;
    margin-left: 2vh;
}
.remove-btn, #header-bars{
    display: block;
    background-color: transparent;
    border: none;
}
/* md = (medium) */
@media (min-width: 768px) {
    .header-menu {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        gap: 2em;
    }
    .header-link {
        font-size: var(--size-xs);
        text-decoration: none;
        font-weight: 700;
        color: var(--secondary-txt);
        transition: color .2s;
    }
    .header-link:hover {
        color: var(--main-theme);
        transition: color 0s;
    }
    .header-link:active {
        color: var(--dark-main-theme);
    }
    #header-line {
        border: 1px solid var(--main-theme);
        padding-top: 1.5em;
    }
    .header-menu button {
        display: block;
        background-color: transparent;
        color: var(--secondary-txt);
        font-size: 1em;
        border: none;
        cursor: pointer;
    }
    #header-bars {
        display: none;
    }
}
/* lg = (large)  */
@media (min-width: 1024px) {
    .header-link {
        font-size: var(--size-sm);
    }
    #sun {
        width: var(--size-xl);
        height: var(--size-xl);
    }
}