.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}
#hero-img {
    display: inline;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}
#hero-subtitle {
    color: var(--slate1);
    font-size: var(--size-base);
    line-height: .9;
}
#hero-title {
    color: var(--slate2);
    text-transform: uppercase;
    font-size: var(--size-4xl);
    line-height: 0.9;
    font-weight: 800;
    letter-spacing: -.25rem;
    position: relative;
}
#hero-title span {
    display: inline-block;
    position: relative;
    opacity: 0; 
    transform-origin: center center;
}
#hero-desc {
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--secondary-txt);
}
#hero-desc strong {
    color: var(--main-theme)
}
#hero-btn {
    font-size: var(--size-sm);
}

/* xs = (extra small) */
@media (min-width: 475px) {
    .hero {
        gap: 1.5rem;
    }
    #hero-img {
        width: 10.5rem;
        height: 10.5rem;
    }
    #hero-subtitle {
        font-size: var(--size-lg);
    }
    #hero-title {
        font-size: var(--size-5xl);
    }
    #hero-desc {
        font-size: var(--size-base);
        width: 50ch;
    }
    #hero-btn {
        font-size: var(--size-base);
    }
}

/* lg = (large)  */
@media (min-width: 1024px) {
    #hero-img {
        width: 12rem;
        height: 12rem;
    }
    #hero-subtitle {
        font-size: var(--size-2xl);
    }
    #hero-title {
        font-size: var(--size-7xl);
    }
    #hero-desc {
        font-size: var(--size-lg);
        width: auto;
    }
    #hero-btn {
        font-size: var(--size-lg);
    }
}

/* xl = (extra large) */
@media (min-width: 1280px) {
    .hero {
        gap: 2rem;
    }
    #hero-img {
        width: 14rem;
        height: 14rem;
    }
    #hero-subtitle {
        font-size: var(--size-4xl);
    }
    #hero-title {
        font-size: var(--size-9xl);
    }
    #hero-desc {
        font-size: var(--size-xl);
    }
    #hero-btn {
        font-size: var(--size-xl);
    }
}
