.services {
    /* border: 1px solid var(--main); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}  
#services-container {
    text-align: center;
}
#services-title {
    color: var(--white);
    font-size: var(--size-2xl);
}
#services-subtitle {
    font-size: var(--size-sm);
}
#services-desc {
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--slate-600);
    margin: 1rem auto;
}
#services-card-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 .5rem;
}
.service-card {
    background-color: var(--bx);
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 7px;
    border: 1px solid var(--lang-border);
}
.service-card-icon {
    width: 2rem;
    border: 2px solid var(--dark-main);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.service-card-title {
    color: var(--white);
    font-size: var(--size-base);
}
.service-card-desc {
    color: var(--slate-500);
    font-size: var(--size-sm);
    margin-top: .5rem;
}

/* xs = (extra small) */
@media (min-width: 475px) {
    #services-title {
        font-size: var(--size-3xl);
    }
    #services-desc {
        font-size: var(--size-base);
        margin: 1.5rem auto;
    }
}

/* md = (medium) */
@media (min-width: 768px) {
    #services-card-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 43rem;
    }
    .service-card {
        width: 17.5rem;
    }
}


/* lg = (large)  */
@media (min-width: 1024px) {
    #services-title {
        font-size: var(--size-4xl);
    }
    #services-subtitle {
        font-size: var(--size-base);
    }
    #services-desc {
        font-size: var(--size-lg);
    }
} 

/* xl = (extra large)  */
@media (min-width: 1280px) {
    .services {
        flex-direction: row;
        gap: 2rem;
    }  
    #services-container {
        text-align: left;
    }
    #services-title {
        font-size: var(--size-5xl);
    }
    #services-subtitle {
        font-size: var(--size-lg);
    }
    #services-desc {
        font-size: var(--size-xl);
        margin: 2rem auto;
        width: 30ch;
    }
}

/* 2xl = (two extra large) */
@media (min-width: 1536px) {
    .services {
        gap: 2rem;
    }  
    #services-desc {
        width: 40ch;
    }
    #services-card-container {
        width: auto;
    }
    .service-card {
        width: 22rem;
    }
}
