@import url('https://fonts.googleapis.com/css2?family=Anton&family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Comfortaa:wght@300..700&family=DM+Serif+Text:ital@0;1&family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Comfortaa:wght@300..700&family=DM+Serif+Text:ital@0;1&family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Dosis:wght@200..800&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    line-height: calc(1em + 8px);
}
:root {
    /* Color Theme */
    --main-theme: #b71234;
    --dark-main-theme: #710033;
    --primary-txt: white;
    --secondary-txt: #475569;
    --drk-bg-color: #070a13;
    --slate1: #1e293b;
    --slate2: #94a3b8;

    /* Sizes */
    --size-xss: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}
html {
    scroll-behavior: smooth;
}
.light-mode {
    --primary-txt: #110b13;
    --secondary-txt: rgb(75, 78, 94);
    background-color: white;
    --slate1: rgb(17, 11, 19);
    --slate2: #1e293b;
    --drk-bg-color: white;
}
body {
    background-color: var(--drk-bg-color);
    font-family: "Montserrat", Arial, sans-serif;
    color: var(--primary-txt);
}
img, picture, video, canvas, svg {
    max-width: 100%;
    user-select: none;
}
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* border: 1px solid #b71234; */
    /* The CSS rule above is ONLY for
    viewing the container class! */
}
.section {
    margin-top: 5rem;
}
.btns {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    background-color: var(--main-theme);
    color: white;
    padding: 0.5em 1em;
    border-radius: 7px;
    box-shadow: 0 10px 20px var(--main-theme),
    0 6px 6px var(--main-theme), 0 0 100px -10px
    var(--main-theme);
    transition: transform .3s, box-shadow 0.3s;
}
.btns:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 28px #e11d4840,
    0 10px 10px #e11d4838, 0 0 125px -10px
    var(--main-theme);
}
.btns:active {
    background-color: #710033;
}
strong {
    color: var(--main-theme);
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--main-theme);
}
body::-webkit-scrollbar-thumb:active {
    background-color: var(--dark-main-theme);
}
.loading {
    filter: blur(40px) grayscale(100%);
}
.loaded {
    filter: blur(0) grayscale(0);
    transition: 0.7s ease-in-out;
}
#langs {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.lang-img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
    background-color: #121624;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--slate1);
}
.work-img-wrapper img {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    } to {
        opacity: 1;
        scale: 1;
    }
}
@keyframes scatterAndGather {
    0% {
        transform: translate(
            calc(random(100) * 1vw - 50vw),
            calc(random(100) * 1vh - 50vh)
        ) rotate(random(360)deg);
        opacity: 1;
    } 80% {
        opacity: 1;
    } 100% {
        transform: translate(0, 0) rotate(0deg);
        opacity: 1;
    }
}
